######################################
# /etc/watchdogd.conf
# Ficher de configuration de l'instance Watchdog
# Licence GPL - lefevre.seb@gmail.com
######################################

######################################
# Logging facilities
######################################
[LOG]                  

# debug, info, notice, warning, error, critical
log_level = notice
log_msrv = true
log_dls  = true
log_arch = true

######################################
# Parametrage de l'instance globale
######################################
[GLOBAL]

# Répertoire home de user "Watchdog" qui fait tourner le serveur
home        = /home/watchdog
# Nom du user sous lequel le serveur tourne
run_as      = watchdog
# Nom de l'instance (permattant d'affecter des taches aux satellites par exemple). Unique dans le domaine.
instance_id = MASTER
instance_is_master = true
# Parametre de connexion a la base de données
db_host     = localhost
db_port     = 3306
db_database = WatchdogDB
db_password = tobechanged
db_username = watchdog

