######################################
# /etc/watchdogd.conf
# Ficher de configuration de l'instance Watchdog
# Licence GPL - sebastien.lefevre@abls-habitat.fr
######################################

######################################
# Logging facilities
######################################
[LOG]                  

# debug, info, notice, warning, error, critical
log_level = notice
debug_msrv = false
debug_arch = false

######################################
# Parametrage de l'instance globale
######################################
[GLOBAL]

# Parametre de connexion a la base de données
[DATABASE]

host     = localhost
database = WatchdogDB
password = dbpasstobechanged
username = watchdog

