*.o
*.lo
*.la
.deps
Makefile
Makefile.in
.libs
config.h*
config.guess
config.log
config.status

ClientGTK3/ClientResources.c
ClientGTK3/ClientResources.h
ClientGTK3/Watchdog-client-gtk3
ClientGTK3/fr.abls-habitat.watchdog.gschema.valid
Watchdogd/Makefile.am
Watchdogd/TraductionDLS/lignes.c
Watchdogd/TraductionDLS/lignes.h
Watchdogd/TraductionDLS/lignes.output
Watchdogd/TraductionDLS/mots.c
Watchdogd/Watchdogd
aclocal.m4
autom4te.cache
compile
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
ylwrap

