######################################
# /etc/watchdogd.conf
# Ficher de configuration de l'instance Watchdog
# Licence GPL - sebastien.lefevre@abls-habitat.fr
######################################

######################################
# Logging facilities
######################################
[LOG]                  

# debug, info, notice, warning, error, critical
log_level = notice
debug_msrv = false
debug_arch = false

######################################
# Parametrage de l'instance globale
######################################
[GLOBAL]

# Répertoire home de user "Watchdog" qui fait tourner le serveur. (default : g_get_home_dir)
#home        = /var/lib/watchdog
# Nom du user sous lequel le serveur tourne. (Default : g_get_user_name)
run_as      = usertobechanged
# true s'il s'agit de l'instance master (Default true)
instance_is_master = true
#host de l'instance master le cas échéant
#master_host = host

# Parametre de connexion a la base de données
[DATABASE]

host     = localhost
database = WatchdogDB
password = dbpasstobechanged
username = watchdog

