[Unit]
Description=Watchdog User daemon
After=syslog.target network.target auditd.service

[Service]
ExecStart=/usr/local/bin/Watchdogd
ExecReload=/bin/kill -USR2 $MAINPID
Restart=always
RestartSec=2
Nice=10

[Install]
WantedBy=default.target

