[Unit]
Description=Watchdog System daemon
After=syslog.target network.target auditd.service

[Service]
#ExecStart=/usr/bin/valgrind --tool=memcheck --leak-check=full --log-file=/var/log/watchdog.log /usr/local/bin/Watchdogd
ExecStart=/usr/local/bin/Watchdogd
ExecReload=/bin/kill -USR2 $MAINPID
Restart=always
RestartSec=5
Nice=10
MemoryHigh=75%
MemoryMax=80%
MemorySwapMax=2G
LimitNOFILE=2048
#5 minutes to stop.
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target

