[Unit]
Description=Watchdog System daemon
After=syslog.target network.target auditd.service

[Service]
#ExecStart=/usr/bin/valgrind --tool=memcheck --leak-check=full --log-file=/var/log/watchdog.log /usr/local/bin/Watchdogd
ExecStart=/usr/local/bin/Watchdogd
ExecReload=/bin/kill -USR2 $MAINPID
Restart=always
RestartSec=2
Nice=10
MemoryHigh=1G
MemoryMax=2G
MemorySwapMax=1M

[Install]
WantedBy=multi-user.target

