[Unit]
Description=Watchdog server daemon
After=mariadb.service syslog.target network.target auditd.service
Requires=mariadb.service
[Service]
ExecStart=/usr/local/bin/Watchdogd -f
ExecReload=/bin/kill -USR2 $MAINPID
[Install]
WantedBy=multi-user.target

